<!DOCTYPE html>
<html lang="en">

{% extends "OlimpiColombiaApp/base.html" %}
{% block content %}


    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Deportista: <strong>{{athlete.first_name}} {{athlete.last_name}}</strong> <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/olimpicolombiag4/media/{{ athlete.img_url }}" alt="DeportistaImg">
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class=col-lg-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Calendario</div>
                <table class="table">
                    <thead>
                    <tr> <th>Fecha</th> <th>Hora</th> <th>Modalidad</th> <th>Resultado</th> <th>Resumen</th></tr>
                    </thead>
                    <tbody>
                    {% for sportevent in sportevents %}
                        <tr> <th scope="row">{{ sportevent.date }}</th> <td>{{ sportevent.time }}</td> <td>{{ sportevent.sport_event }}</td> <td>{{ sportevent.result }}</td>
                            <td><video class="videocontainer" width="150" height="120" controls>
                                    <source class="videosource" src="https://s3-us-west-2.amazonaws.com/olimpicolombiag4/media/{{sportevent.video}}"/>
                                </video>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- /.row -->

    </hr>
    <!-- /.row -->

    </hr>

{% endblock %}
</html>
