<!DOCTYPE html>
<html lang="en">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



{% extends "OlimpiColombiaApp/base.html" %}

{% block content %}

<meta property="og:title" content="Event Highlights"/>
    <meta property="og:type" content="video"/>
    <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/olimpicolombiag4/static/images/sharing_image.jpg"/>
<meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/olimpicolombiag4/static/images/sharing_image.jpg" />
    <meta property="og:image:width" content="640" />
    <meta property="og:image:height" content="442" />
    <meta property="og:url" content=""/>

    <!-- Page Heading -->
    <div class="row" >
        <div class="col-lg-12">
            <h1 class="page-header center-block">
                Deportista: <strong>{{athlete.first_name}} {{athlete.last_name}}</strong> <img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/olimpicolombiag4/media/{{ athlete.img_url }}" alt="DeportistaImg">
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-lg-12" style=" margin-right: 80px;
    margin-left: 80px;">
            <div class="panel panel-default">
                <div class="panel-heading">Calendario</div>
                <table class="table">
                    <thead>
                    <tr> <th>Fecha</th> <th>Hora</th> <th>Modalidad</th> <th>Resultado</th> <th>Resumen</th></tr>
                    </thead>
                    <tbody>
                    {% for sportevent in sportevents %}
                        <tr> <th scope="row">{{ sportevent.date }}</th> <td>{{ sportevent.time }}</td> <td>{{ sportevent.sport_event }}</td> <td>{{ sportevent.result }}</td>
                            <td><video class="videocontainer" width="150" height="120" controls>
                                    <source class="videosource" src="https://s3-us-west-2.amazonaws.com/olimpicolombiag4/media/{{sportevent.video}}"/>
                                </video>
                                <div class="fb-share-button" data-href="https://s3-us-west-2.amazonaws.com/olimpicolombiag4/media/{{sportevent.video}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                                    <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Folimpicolombiag4%2F{{sportevent.video}}&amp;src=sdkpreparse">Share</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- /.row -->

    </hr>
    <!-- /.row -->

    </hr>

{% endblock %}
</html>
